<%= form_with(model: check, local: true, class: "ui form") do |form| %>
  <% if check.errors.any? %>
    <div class="ui error message visible">
      <i class="close icon"></i>
      <div class="header">
        <%= pluralize(check.errors.count, "error") %> prohibited this check from being saved:
      </div>
      <ul class="list">
        <% check.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :interval %>
    <%= form.number_field :interval %>
  </div>

  <div class="field">
    <%= form.label :protocol %>
    <%= form.select :protocol, Check.protocols, {}, class: "ui fluid dropdown" %>
  </div>

  <div class="field">
    <%= form.label :url %>
    <%= form.text_field :url %>
  </div>

  <div class="actions">
    <%= link_to 'Back', checks_path %>

    <%= form.submit 'Create check', class: "ui primary button" %>
  </div>
<% end %>
