<%= form_with(model: check, local: true) do |form| %>
  <% if check.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(check.errors.count, "error") %> prohibited this check from being saved:</h2>

      <ul>
      <% check.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :interval %>
    <%= form.number_field :interval %>
  </div>

  <div class="field">
    <%= form.label :protocol %>
    <%= form.text_field :protocol %>
  </div>

  <div class="field">
    <%= form.label :url %>
    <%= form.text_field :url %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
