<div class="sixteen wide column">
  <h1 class="ui header">Checks</h1>
  <div class="ui divider"></div>

  <% unless notice.nil? %>
    <div class="ui positive message">
      <i class="close icon"></i>
      <div class="header">Success!</div>
      <p id="notice"><%= notice %></p>
    </div>
  <% end %>

  <table class="ui single line striped selectable table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Interval</th>
        <th>Protocol</th>
        <th>Url</th>
        <th class="center aligned">Up</th>
        <th class="center aligned"colspan="2">Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @checks.each do |check| %>
        <tr>
          <td><%= link_to check.name, check %></td>
          <td><%= check.interval %></td>
          <td><%= check.protocol %></td>
          <td><%= check.url %></td>
          <td class="center aligned">
            <% if check.up? %>
              <i class="thumbs up icon green"></i>
            <% else %>
              <i class="thumbs down icon red"></i>
            <% end %>
          </td>
          <td class="center aligned">
            <%= link_to edit_check_path(check), title: 'Edit' do %>
              <i class="edit icon"></i>
            <% end %>
          </td>
          <td class="center aligned">
            <%= link_to check, method: :delete, data: { confirm: 'Are you sure?' }, title: 'Destroy' do %>
              <i class="close icon red"></i>
              <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'Add new', new_check_path, class: 'ui primary button' %>
</div>
