<div class="ui grid">
  <div class="row">
    <% unless notice.nil? %>
      <div class="ui positive message">
        <i class="close icon"></i>
        <div class="header">Success!</div>
        <p id="notice"><%= notice %></p>
      </div>
    <% end %>
  </div>

  <div class="row">
    <h1 class="ui huge header">Checks</h1>
  </div>
  <div class="ui divider"></div>
  <div class="row">
    <table class="ui single line striped selectable table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Interval</th>
          <th>Protocol</th>
          <th>Url</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @checks.each do |check| %>
          <tr>
            <td><%= check.name %></td>
            <td><%= check.interval %></td>
            <td><%= check.protocol %></td>
            <td><%= check.url %></td>
            <td><%= link_to 'Show', check %></td>
            <td><%= link_to 'Edit', edit_check_path(check) %></td>
            <td><%= link_to 'Destroy', check, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'New Check', new_check_path %>
  </div>
</div>
