<div class="ui grid">
  <div class="row">
    <% unless notice.nil? %>
      <div class="ui positive message">
        <i class="close icon"></i>
        <div class="header">Success!</div>
        <p id="notice"><%= notice %></p>
      </div>
    <% end %>
  </div>

  <div class="row">
    <h1>New Check</h1>
  </div>

  <div class="ui divider"></div>
  <div class="row">
    <p>
    <strong>Name:</strong>
    <%= @check.name %>
    </p>
  </div>

  <div class="row">
    <p>
    <strong>Interval:</strong>
    <%= @check.interval %>
    </p>
  </div>

  <div class="row">
    <p>
    <strong>Protocol:</strong>
    <%= @check.protocol %>
    </p>
  </div>

  <div class="row">
    <p>
    <strong>Url:</strong>
    <%= @check.url %>
    </p>
  </div>

  <div class="row">
    <%= area_chart @chart_data, ytitle: "Response time" %>
  </div>

  <div class="row">
    <%= link_to 'Edit', edit_check_path(@check) %> |
    <%= link_to 'Back', checks_path %>
  </div>
</div>
