<% unless notice.nil? %>
<div class="ui message">
  <p id="notice"><%= notice %></p>
</div>
<% end %>

<p>
  <strong>Name:</strong>
  <%= @check.name %>
</p>

<p>
  <strong>Interval:</strong>
  <%= @check.interval %>
</p>

<p>
  <strong>Protocol:</strong>
  <%= @check.protocol %>
</p>

<p>
  <strong>Url:</strong>
  <%= @check.url %>
</p>

<%= link_to 'Edit', edit_check_path(@check) %> |
<%= link_to 'Back', checks_path %>
