<!DOCTYPE html>
<html>
  <head>
    <title>Pong</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="ui grid">
      <div class="row">
        <div class="column" id="sidebar">
          <div class="ui secondary vertical fluid menu">
            <%= active_link_to 'Checks', checks_path, class: 'item' %>
            <div class="ui hidden divider"></div>
          </div>
        </div>
        <div class="column" id="content">
          <%= yield %>
        </div>
      </div>
    </div>
    <style type="text/css"></style>

  </body>
</html>
