<!DOCTYPE html>
<html>
  <head>
    <title>Pong</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="ui grid stackable container" id="content">
      <%= yield %>
    </div>

    <footer class="ui container" id="version"><%= Pong.version %></footer>
  </body>
</html>
